{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>PetShare</title>
	<meta name='description' content='comparte fotos de tus mascotas' />
	<link rel="stylesheet" href="{% static 'styles.css' %}">
	<link rel="stylesheet" href="{% static 'slim/slim.css' %}">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'slim/slim.jquery.js' %}" ></script>
</head>
<body>
	<div id="app">
		<div class="header">
			<span class="app-name">
			PetShare
			</span>
			<button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
				Agregar Foto
			</button>
		</div>
		<div class="contentDiv">
			{% block content %}
            
            {% endblock content %}
		</div>
	</div>
</body>
</html>